--
-- PostgreSQL database dump
--

\restrict AqVruTXKhhxQ4hg7lqUPbroih0e08TCkDISoja4NzFc0fCORFz1iGmqj6q9v4uR

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: attacker; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.attacker (
    id integer NOT NULL,
    lon numeric(10,6),
    lat numeric(10,6),
    source_ip character varying(45),
    agent_name character varying(100),
    "time" timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    level integer,
    dstip character varying(45),
    agent_ip character varying(45),
    agent_lat numeric(10,6),
    agent_lng numeric(10,6)
);


ALTER TABLE public.attacker OWNER TO postgres;

--
-- Name: attacker_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.attacker_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.attacker_id_seq OWNER TO postgres;

--
-- Name: attacker_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.attacker_id_seq OWNED BY public.attacker.id;


--
-- Name: filtered_alerts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.filtered_alerts (
    id integer NOT NULL,
    srcip character varying(45),
    dstip character varying(45),
    level character varying(20),
    "time" character varying(20),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    src_country character varying(100),
    src_city character varying(100),
    src_lat numeric(10,6),
    src_lng numeric(10,6),
    dst_country character varying(100),
    dst_city character varying(100),
    dst_lat numeric(10,6),
    dst_lng numeric(10,6),
    src_ip_type character varying(10) DEFAULT 'unknown'::character varying,
    dst_ip_type character varying(10) DEFAULT 'unknown'::character varying
);


ALTER TABLE public.filtered_alerts OWNER TO postgres;

--
-- Name: filtered_alerts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.filtered_alerts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.filtered_alerts_id_seq OWNER TO postgres;

--
-- Name: filtered_alerts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.filtered_alerts_id_seq OWNED BY public.filtered_alerts.id;


--
-- Name: attacker id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attacker ALTER COLUMN id SET DEFAULT nextval('public.attacker_id_seq'::regclass);


--
-- Name: filtered_alerts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.filtered_alerts ALTER COLUMN id SET DEFAULT nextval('public.filtered_alerts_id_seq'::regclass);


--
-- Data for Name: attacker; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: filtered_alerts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: attacker_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.attacker_id_seq', 1420, true);


--
-- Name: filtered_alerts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.filtered_alerts_id_seq', 40, true);


--
-- Name: attacker attacker_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attacker
    ADD CONSTRAINT attacker_pkey PRIMARY KEY (id);


--
-- Name: filtered_alerts filtered_alerts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.filtered_alerts
    ADD CONSTRAINT filtered_alerts_pkey PRIMARY KEY (id);


--
-- Name: idx_agent_ip; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_agent_ip ON public.attacker USING btree (agent_ip);


--
-- Name: idx_agent_lon_lat; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_agent_lon_lat ON public.attacker USING btree (agent_lat, agent_lng);


--
-- Name: idx_agent_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_agent_name ON public.attacker USING btree (agent_name);


--
-- Name: idx_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_created_at ON public.filtered_alerts USING btree (created_at);


--
-- Name: idx_level; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_level ON public.filtered_alerts USING btree (level);


--
-- Name: idx_lon_lat; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_lon_lat ON public.attacker USING btree (lon, lat);


--
-- Name: idx_source_ip; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_source_ip ON public.attacker USING btree (source_ip);


--
-- Name: idx_srcip; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_srcip ON public.filtered_alerts USING btree (srcip);


--
-- Name: idx_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_time ON public.attacker USING btree ("time");


--
-- PostgreSQL database dump complete
--

\unrestrict AqVruTXKhhxQ4hg7lqUPbroih0e08TCkDISoja4NzFc0fCORFz1iGmqj6q9v4uR

